:root {
    --content-max-width: 90%;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --tw-shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --tw-border-opacity: 1;
    --tw-text-opacity: 1;
    --code-inline-background: var(--mono-tint2);
    --heading-h2-color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.thumbnail,
.thumbnail-full {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    margin-left: auto;
    margin-right: auto;
}

#main > table {
    margin-top: 2rem !important;
    margin-bottom: 3.5rem !important;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail {
    max-width: 28rem !important;
}

.thumbnail-full {
    max-width: 72rem !important;
}

#main > table > tbody > tr > td:not(:first-child),
main > table > tbody > tr > th {
    border-left: 3px solid white;
}

#main > table > tbody > tr > td:not(:last-child),
main > table > tbody > tr > th {
    border-right: 3px solid white;
}

#main > p.tip,
#main > p.warn {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#main > p.tip > code,
#main > p.warn > code {
    background-color: #fff !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow-1);
}

/* Fix issue on mobile devices where a custom cover image goes off the screen. */
section.cover.show {
    height: 100%;
}
